@use 'sass:math';

@function fluidWidth($min, $max, $minWidth, $maxWidth) {
	$multiplier: math.div($max - $min, $maxWidth - $minWidth);
	$vwMultiplier: math.div($multiplier, $multiplier * 0 + 1) * 100vw;
	@return calc(#{($min - $multiplier * $minWidth) + " + " + $vwMultiplier});
}

@mixin fluidFontSize($min, $max, $minWidth, $maxWidth) {
	font-size: $min;

	@media only screen and (min-width: $minWidth) {
		font-size: $min + ($max - $min) * 0.5; // fallback to halfway between min and max
		font-size: fluidWidth($min, $max, $minWidth, $maxWidth);
	}

	@media only screen and (min-width: $maxWidth) {
		font-size: $max;
	}
}
